body {
    padding-top: 60px;
    background-color: #FFFFFF;
}

.main-heading-page {
    background-position: 0% 20%;
    background-size: cover;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #CCD6FF;
}

.jumbotron h1 {
    color: #0019BA;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px #2E49FF;
}

.page-header {
   border-bottom: 1px solid #00A6FB;
}

.small-heading-page {
    color: #04293A;
    font-family: 'Sahitya', serif;
    font-size: 30px;
    text-align: right;
    
}

.navbar-default{
    background-color: #456AFF;
    font-family: 'Anton', sans-serif;
    font-size: 16px; 
}

.navbar a {
    color: #04293A !important;
}

.navbar-brand>span {
    color: #ffffff !important;
    font-family: 'Cinzel Decorative',cursive;
    font-size: 20px;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  background-color:#99ADFF !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2E49FF;
    color: #ffffff!important;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
    
}

.carousel-indicators .active {
  background-color: #2E49FF;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.text-carousel {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.text-carousel-alt {
    color: #04293A;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.nav-tabs > li.active > a {
  color: #ffffff;
  font-family: 'Sahitya', serif;
  font-size: 20px;
}
.nav-tabs > li > a {
  font-family: 'Sahitya', serif;
  font-size: 20px;
  color: #04293A;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #99ADFF;
    font-family: 'Sahitya',serif;
    font-size: 18px;
}

.label-default {
    background-image: none;
    background-color: #456AFF;
    color: #ffffff;
}

.img-modal {
    margin: 5px 0px 10px 0px;
    border: 2px solid #2E49FF;
}

.modal-body {
    background: #99ADFF;
}

.title {
    text-align: center;
}

.img-quiz {
    display: block;
    width:400px;
    height: auto;
    border: 2px solid #2E49FF;
    border-radius: 5%;
}

#quiz-form {
    text-align: center;
}

.btn-quiz {
    border:2px solid #2E49FF;
    border-radius:5px;
    width: 100px;
    padding-left:5px;
    padding-right: 5px;
    background-color: #2E49FF;
    color: #ffffff !important;
    font-family: 'Sahitya',serif;
    font-size: 20px;
    margin: auto;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#start {
    display:none;
}

.text-heading {
    color: #473198;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px #5743A1;
    margin: 10px;
}

.text-heading-med {
    color: #2E49FF;
    font-family: 'Cinzel Decorative',cursive;
    font-size: 30px;
    margin-top: 20px;
}

.text-heading-sml {
    color: #473198;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.reg-text {
    color: #04293A;
    font-family: 'Sahitya', serif;
    font-size: 16px;
    margin: 10px;
    padding-left: 30px;
    padding-top: 10px;
    text-align: justify;
    
}